<div id="header-post">
  <span id="menu">
    <span id="actions">
      <ul>
        {{ if .Prev }}
        <li>
          <a class="icon" href=" {{ .Prev.Permalink }}">
            <i class="fas fa-chevron-left"></i>
          </a>
        </li>
        {{ end }}
        {{ if .Next }}
        <li>
          <a class="icon" href="{{ .Next.Permalink }}">
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        {{ end }}
        <li>
          <a class="icon" href="/">
            <i class="fas fa-chevron-up"></i>
          </a>
        </li>
      </ul>
    </span>
  </span>
</div>
