<div id="header-post">
  <span id="menu">
    <span id="actions">
      <ul>
        {{ if .Prev }}
        <li>
          <a class="icon" title="Previous Post" rel="prev" href=" {{ .Prev.Permalink }}">
            <img src="{{ "images/arrow.svg" | absURL }}">
          </a>
        </li>
        {{ end }}
        {{ if .Next }}
        <li>
          <a class="icon" title="Next Post" rel="next" href="{{ .Next.Permalink }}">
            <img src="{{ "images/arrow.svg" | absURL }}">
          </a>
        </li>
        {{ end }}
        <li>
          <a class="icon" title="Homepage" href="/">
            <img src="{{ "images/arrow.svg" | absURL }}">
          </a>
        </li>
      </ul>
    </span>
  </span>
</div>
